<section id='catalog'>
    <div class='section-title'>
        <form id='searchForm' action="/catalog" method="get">
            {{#if query.search}}
                <input type='text' name='search' value='{{query.search}}' />
            {{else}}
                <input type='text' name='search' value='' />
            {{/if}}
            <input type='submit' value='Search' />
        </form>
    </div>
    <header class='section-title'>
        <a href="?page={{query.startIndex}}">&lt; Prev</a>
        Page 1 of {{totalResults}}
        <a href="?page={{query.startIndex}}">Next &gt;</a>
    </header>

    {{#each recipes}}
        {{> recipeCard}}
    {{else}}
        <p style="text-align: center;">No recipes added yet. Be first and <a href="/recipes/create">create one!</a></p>
    {{/each}}

    <footer class='section-title'>
        <a href="?page={{query.startIndex}}">&lt; Prev</a>
        Page 1 of {{totalResults}}
        <a href="?page={{query.startIndex}}">Next &gt;</a>
    </footer>
</section>