<section id='details'>
    <article>
        <h2>{{recipe.name}}</h2>
        <div class='band'>
            <div class='thumb'>
                <img src='{{recipe.imageUrl}}' />
            </div>
            <div class='ingredients'>
                <h3>Ingredients:</h3>
                <ul>
                    {{#each recipe.ingredients}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class='description'>
            <h3>Preparation:</h3>
            {{#each recipe.steps}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <div class='controls'>
            <a class='actionLink' href='/edit/{{recipe._id}}'>✎ Edit</a>
            <a class='actionLink' href='javascript:void(0)'>✖ Delete</a>
        </div>
    </article>
    <div>
        <div class='section-title'>Comments for Grilled Duck Fillet</div>
        <article class='new-comment'>
            <h2>New comment</h2>
            <form id='commentForm'>
                <textarea name='content' placeholder='Type comment'></textarea>
                <input type='submit' value='Add comment' />
            </form>
        </article>
        <div class='comments'>
            <ul>
                <li class='comment'>
                    <header>peter@abv.bg</header>
                    <p>content</p>
                </li>
            </ul>
            <div class='section-title'>No comments added yet!</div>
        </div>
    </div>
</section>